# Arquivos compilados de C
*.o
*.exe
*.out
*.dll
*.so

# Configurações do VS Code (opcional)
.vscode/

# Executável do projeto
simuladorTabelas e Resultados/

/Tabelas e Resultados/

/Verilog/*
!/Verilog/*.v
